
html {
  scroll-behavior: smooth;
}

:root {
	--1: #ddd;
	--2: #f60;
	--3: #fff;
	--4: #111;
	--5: #777;
}

body {
	font-family: sans-serif;
	background-color: var(--4);
	color: var(--1);
	font-size: 1.25rem;
	overflow-x: hidden;
	width: min(48rem, calc(100vw - 4rem));
	margin: 8rem auto;
	margin-bottom: 16rem;
}

::selection {
	background: var(--2);
	color: var(--4);
}

h1 {
	font-weight: inherit;
	color: var(--2);
	font-size: 3.5rem;
	line-height: 100%;
}

h2 {
	font-weight: inherit;
	font-size: 2rem;
	text-align: left;
	padding-top: 3rem;
	margin-top: -2rem;
}

h2::before, nav a:not([nobefore])::before {
	content: '# ';
	color: var(--2);
}

p, li {
	line-height: 150%;
}

a {
	color: var(--2);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

code {
	font-size: 1.125rem;
}

table:not([noformat]) {
	width: 67%;
	margin: 2rem auto;
	border: solid 2px var(--1);
	border-collapse: collapse;
	table-layout: fixed;
}

table:not([noformat]) td, table:not([noformat]) th {
	padding: 0.5rem;
	border: solid 1px var(--1);
}

table:not([noformat]) th {
	background-color: var(--2);
	color: var(--4);
	font-weight: inherit;
}

table:not([noformat]) th::selection {
	background: var(--4);
	color: var(--1);
}

table[noformat] {
	width: 100%;
}
table[noformat] ul {
	margin: 0;
}

select {
	background-color: inherit;
	border: solid 1px var(--1);
	color: inherit;
	font-family: system-ui;
	font-size: inherit;
	padding: 0.25rem;
	width: 8rem;
	text-align: center;
	height: 3rem;
	vertical-align: middle;
}

em {
	font-style: normal;
	font-weight: inherit;
	text-decoration: underline;
}

.website-icon {
	height: 1rem;
	margin: 0 0.125rem;
}

mjx-container {
	color: var(--3);
	user-select: none;
	pointer-events: none;
}
a mjx-container, h1 mjx-container {
	color: inherit;
}

p[article] a {
	margin-right: 100vw;
}

graph1 {
	display: block;
	border: solid 1px var(--5);
}

nav {
	position: fixed;
	top: 50vh;
	transform: translateY(-50%);
	left: 2rem;
	width: 24rem;
	transition: 0.2s opacity;
}
nav a {
	display: block;
	color: var(--5);
}
nav a:hover {
	color: var(--1);
}
h2[glow="true"] {
	text-shadow: 0 0 1.5rem #ffffff00;
	animation: 2s glow;
}
@keyframes glow {
	from {text-shadow: 0 0 1rem white;}
}
nav a[nobefore] {
	margin-top: 1rem;
}
nav a[nobefore]:hover {
	color: var(--2);
}

p[summary]::before {
	content: '[summary] ';
	color: var(--5);
}