html {
  scroll-behavior: smooth;
}

:root {
	--1: #ddd;
	--2: #fff;
	--3: #fff;
	--4: #111;
	--5: #777;
}

body {
	font-family: Tahoma, sans-serif;
	background-color: var(--4);
	color: var(--1);
	font-size: 1.25rem;
	overflow-x: hidden;
	width: min(48rem, calc(100vw - 4rem));
	margin: 8rem auto;
	margin-bottom: 16rem;
}

::selection {
	background: var(--2);
	color: var(--4);
}

h1 {
	font-weight: inherit;
	color: var(--2);
	font-size: 3.5rem;
	line-height: 100%;
}

h2 {
	font-weight: inherit;
	font-size: 2rem;
	text-align: left;
	padding-top: 3rem;
	margin-top: -2rem;
}

h2::before, nav a:not([nobefore])::before {
	content: '# ';
	color: var(--2);
}

p, li {
	line-height: 150%;
}

a {
	color: var(--2);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

code {
	font-size: 1.125rem;
}

table:not([noformat]) {
	width: 67%;
	margin: 2rem auto;
	border: solid 2px var(--1);
	border-collapse: collapse;
	table-layout: fixed;
}

table:not([noformat]) td, table:not([noformat]) th {
	padding: 0.5rem;
	border: solid 1px var(--1);
}

table:not([noformat]) th {
	background-color: var(--2);
	color: var(--4);
	font-weight: inherit;
}

table:not([noformat]) th::selection {
	background: var(--4);
	color: var(--1);
}

table[noformat] {
	width: 100%;
}
table[noformat] ul {
	margin: 0;
}

select {
	background-color: inherit;
	border: solid 1px var(--1);
	color: inherit;
	font-family: system-ui;
	font-size: inherit;
	padding: 0.25rem;
	width: 8rem;
	text-align: center;
	height: 3rem;
	vertical-align: middle;
}

em {
	font-style: normal;
	font-weight: inherit;
	text-decoration: underline;
}

.website-icon {
	height: 1rem;
	margin: 0 0.125rem;
}

mjx-container {
	color: var(--3);
	user-select: none;
	pointer-events: none;
}
a mjx-container, h1 mjx-container {
	color: inherit;
}

p[article] a {
	margin-right: 100vw;
}

graph1 {
	display: block;
	border: solid 1px var(--5);
}

nav {
	position: fixed;
	top: 50vh;
	transform: translateY(-50%);
	left: 2rem;
	width: 24rem;
}
nav a {
	display: block;
	color: var(--5);
}
nav a:hover {
	color: var(--1);
}
h2[glow="true"] {
	text-shadow: 0 0 1.5rem #ffffff00;
	animation: 2s glow;
}
@keyframes glow {
	from {text-shadow: 0 0 1rem white;}
}
nav a[nobefore] {
	margin-top: 1rem;
}
nav a[nobefore]:hover {
	color: var(--2);
}

p[summary]::before {
	content: '[summary] ';
	color: var(--5);
}
input {
	accent-color: var(--2);
}

.modal {
	position: fixed;
	background-color: var(--4);
	border: solid 1px var(--5);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	padding: 2rem 3rem;
	box-shadow: 0 0 4rem black;
	animation-fill-mode: forward;
	z-index: 100;
}
@keyframes modal-in {
	from {opacity: 0; transform: translate(-50%, calc(-50% + 4rem)) scale(0.875);}
}
@keyframes modal-out {
	to {opacity: 0; transform: translate(-50%, calc(-50% + 4rem)) scale(0.875);}
}

input, button {
	background-color: inherit;
	border: solid 1px var(--5);
	font-family: inherit;
	font-size: inherit;
	padding: 0.25rem;
	color: inherit;
	margin: 0.5rem 0;
}

button {
	padding: 0.5rem 1rem;
	display: block;
	cursor: pointer;
}
button:hover {
	border-color: var(--2);
	color: var(--2);
}
.modal .close-modal {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background-color: var(--2);
	margin: 0;
	font-size: 1.75rem;
	line-height: 2.25rem;
	text-align: center;
}
.modal .close-modal:hover {
	background-color: var(--3);
	color: var(--4);
}
hr {
	border: solid 1px var(--5);
}